@import 'colors';

.list-item {
  position: relative;
  clear: both;
  border-bottom: 1px solid $gray;
  padding: 0.3rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  .item {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    a {
      display: block;
      float: left;
      &:first-child {
        max-width: 60%;
        overflow: hidden;
        font-size: 0.9rem;
        text-overflow: ellipsis;
        &.completed {
          color: $gray;
          text-decoration: line-through;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &.delete {
        position: absolute;
        top: 0.3rem;
        right: 0;
        font-size: 1rem;
        &:hover {
          color: $header;
          cursor: pointer;
        }
      }
    }
  }
  span {
    display: block;
    float: left;
    font-size: 0.8rem;
    color: $gray;
    margin: 0.1rem 0 0 0.2rem;
    transition: all 0.2s;
    &:hover {
      color: $header;
      transition: all 0.2s;
      cursor: pointer;
    }
  }
}
.details {
  height: 0;
  overflow: hidden;
  transition: height 0.2s;
  font-size: 0.8rem;
  white-space: pre;
  position: relative;
  border: 1px solid transparent;
  margin-top: 0;
  .expanded & {
    height: 8rem;
    transition: height 0.2s;
    margin-top: 0.2rem;
    &.editing {
      border-color: $header;
    }
  }
  > div > div {
    padding: 0.4rem;
    background: $dkgray;
    textarea {
      background: transparent;
      border: 0;
      padding: 0;
      width: 100%;
      color: $header;
      -webkit-text-fill-color: $text;
      width: 100%;
      font-family: sans-serif;
      height: 7rem;
    }
  }
}
.thumb-vertical {
  width: 1rem;
  height: 2rem;
  background: $header;
  border-radius: 5px;
}
.edit-icons {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 15px;
  min-width: 15px;
}
.edit-icon, .save-icon, .cancel-icon {
  float: left;
  width: 15px;
  height: 15px;
  position: relative;
}
.edit-icon {
  border: 1px solid $gray;
  white-space: normal;
  display: inline-block;
  border-radius: 2px;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
  }
  &:before {
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-bottom: 3px solid $gray;
    border-top: 3px solid transparent;
    right: 4px;
    top: 2px;
  }
  &:after {
    width: 3px;
    height: 8px;
    right: 0;
    top: -1px;
    outline: 2px solid $dkgray;
    background: $gray;
    transform: rotate(45deg);
  }
  &:hover {
    border-color: $header;
    cursor: pointer;
    &:before {
      border-bottom-color: $header;
    }
    &:after {
      background: $header;
    }
  }
}
.save-icon {
  border: 1px solid $gray;
  border-radius: 1px;
  transition: none;
  display: inline-block;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
  }
  &:before {
    width: 55%;
    height: 4px;
    background: linear-gradient(to right, $gray 0%, $gray 70%, transparent 70%, transparent 100%);
    top: 0;
    margin-left: -27.5%;
    border: 1px solid $gray;
  }
  &:after {
    bottom: 0;
    height: 6px;
    width: 65%;
    border: 1px solid $gray;
    margin-left: -32%;
  }
  &:hover {
    border-color: $header;
    transition: none;
    cursor: pointer;
    &:before {
      border-color: $header;
      background: linear-gradient(to right, $header 0%, $header 70%, transparent 70%, transparent 100%);
    }
    &:after {
      border-color: $header;
    }
  }
}