@import 'colors';
#subnav-cont {
  color: $text;
  z-index: 2;
  -webkit-app-region: no-drag;
  position: relative;
  #subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    li {
      width: 100%;
      padding: 0;
      margin: 0;
      a {
        display: block;
        font-size: 0.7rem;
        padding: 0.35rem 0.6rem;
        width: 100%;
        &:hover {
          background: $gray;
          cursor: pointer;
          color: $text;
        }
      }
    }
  }
}
#subnav-icon {
  transform: rotate(90deg);
  font-size: 1.6rem;
  float: right;
  z-index: 2;
  line-height: 0;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.2rem 0 0 0.3rem;
  -webkit-app-region: no-drag;
  border: 1px solid transparent;
  .expanded & {
    border: 1px solid $gray;
    border-right: 1px solid transparent;
    background-color: $bg-color;
  }
  &:hover {
    color: $header;
    cursor: pointer;
  }
}
#subnav {
  position: absolute;
  top: 1.4rem;
  right: 0;
  margin-top: -1.5px;
  margin-right: -0.5px;
  width: 11rem;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  .expanded & {
    background: $bg-color;
    box-shadow: 0 0.3rem 0.4rem $dkgray;
    border: 1px solid $gray;
    max-height: 100vmax;
  }
  li span.active {
    background: $header;
    border-radius: 50%;
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    margin: -0.15rem 0 0 0.25rem;
    vertical-align: middle;
  }
}